<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GetAuthToken</key>
	<string>/user/auth/token</string>
	<key>PersonalInfo</key>
	<string>/tester/{id}</string>
	<key>PublicTasks</key>
	<string>/task/s</string>
	<key>JoinGroup</key>
	<string>/tester/{id}/group</string>
	<key>AcceptTask</key>
	<string>/tester/{id}/task/</string>
	<key>GetMyTasks</key>
	<string>/task/s</string>
	<key>GetTaskDetail</key>
	<string>/task/{taskId}</string>
	<key>Login</key>
	<string>/user/login/</string>
	<key>SearchGroup</key>
	<string>/group/s</string>
	<key>GetGroupDetail</key>
	<string>/group/{groupId}</string>
</dict>
</plist>
